<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988868233958-qsufauthk71egbkhlf3r0putsv57vlb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988868233958-qsufauthk71egbkhlf3r0putsv57vlb2</string>
	<key>API_KEY</key>
	<string>AIzaSyAK4gYUQFn7mOzU8Vwnj6EUUZUS9rUnQ4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>988868233958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeolmae.artnguide</string>
	<key>PROJECT_ID</key>
	<string>artnguide-340907</string>
	<key>STORAGE_BUCKET</key>
	<string>artnguide-340907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988868233958:ios:db9414b90250ec7a6dc927</string>
</dict>
</plist>